.battery-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 28px;  
  /* justify-content: center;Center items vertically */
  /* height: 100px;          Adjust the container height */
  /* width: 150px;           Adjust the container width */
  /* overflow: hidden;       Prevent overflow */
}
@media (max-width: 1300px){
 
  .battery-shell{
    height: 100px !important;
    width: 65px !important;
  }
  .plus, .minus{
    height: 6px !important;
    width: 15px !important;
  }
}

.battery-shell {
  width: 85px;            
  height: 140px;
  /* border: 2px solid black; */
  background-color: #ddd;
  position: relative;
  display: flex;
  align-items: flex-end;
  /* margin-bottom: 10px;   */
  border-radius: 5px; 
  /* margin-top: 10px; */
}
.pin{
  display: flex;
  flex-direction: row;
}
.plus{
  display: flex;

  justify-content: center;
  align-items: center;
  height: 8px;
  width: 25px;
  margin-right: 4px;
  border-radius: 2px 2px 2;
    /* border: 2px solid grey; */
  background-color: grey;
}
p{
  font-size: 6px;
  color: white;
}
.minus{
  display: flex;

  justify-content: center;
  align-items: center;
    height: 8px;
    width: 25px;
    margin-left: 4px;
    border-radius: 2px 2px 2;
    /* border: 2px solid grey; */
    background-color: grey;
  
}
.battery-fill {
  width:  100%;
  animation: batteryFill 2s forwards;
  transition: height 0.5s ease;
  border-radius: 5px;
}
@keyframes batteryFill {
  from {
    height: 0; /* Start with an empty battery */
  }
  to {
    height: height; /* Fully filled battery */
  }
}
.circular-battery {
  /* margin: 0;               */
  transition: stroke-dashoffset 0.5s ease;
}

svg {
  display: block;
  margin: 0 auto;         /* Center the circular battery */
}
.battery-level{
  margin-top: 20px;
}
