/* homecomponent.css */
@import url('https://fonts.googleapis.com/css?family=Roboto');
.homeMain {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0px;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black
  }
  .ol-popup {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

  .homeMain h1{
    font-weight: lighter;
    color: #984545;
  }

  :host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--header-color);
    padding: 2em;
}

header .title {
    font-size: 28px;
}

main {
    display: flex;
    flex-grow: 1;
}
/* .left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
} */
.map-container {
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    border-radius: 15px;
    position: relative;
  
}

footer {
    background-color: var(--header-color);
    padding: 1em;
}
 
.floating-image1 {
    position: fixed;
    bottom: 22px;
    right: 20px;
    width: 70px;
    height: 70px;
    z-index: 1000;
    border: 2px solid black;
    border-radius: 10px;
}
::ng-deep .ol-zoom{
    top: rem !important;
    z-index: 1000;
    /* bottom: 10px; */
    left: 60px;
    margin-left: 40px !important;
}
::ng-deep .ol-touch .ol-control button{
    font-size: 1rem;
}

.floating-image2 {
    position: fixed;
    bottom: 22px;
    right: 100px;
    width: 70px;
    height: 70px;
    z-index: 1000;
    border: 2px solid black;
    border-radius: 10px;
}

.floating-image3 {
    position: fixed;
    bottom: 22px;
    right: 180px;
    width: 70px;
    height: 70px;
    z-index: 1000;
    border: 2px solid black;border-radius: 10px;

}

.floating-image4 {
    position: fixed;
    bottom: 22px;
    right: 260px;
    width: 70px;
    height: 70px;
    z-index: 1000;
    border: 2px solid black;
    border-radius: 10px;
}

.floating-image5 {
    position: fixed;
    bottom: 22px;
    right: 340px;
    width: 70px;
    height: 70px;
    z-index: 1000;
    border: 2px solid black;
    border-radius: 10px;
}

.floating-image6 {
    position: fixed;
    bottom: 22px;
    right: 420px;
    width: 70px;
    height: 70px;
    z-index: 1000;
    border: 2px solid black;
    border-radius: 10px;
}
.powered{
    position: fixed;
    bottom: 0px;
    right: 10px;
    width: 280px;
    height: 20px;
    background-color: #afaeaed0;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image{
    height: 100%;
    width: 23px;
    background-image: url('../../assets/logo.png');
    background-size: cover;
    margin-right: 10px;
}
span{
    font-size: 12px;
}
.bouy1{
    position: fixed;
    /* bottom: 0px; */
    top: 10px;
    right: 5px;
    width: 300px;
    height: 40px;
    background-color: #ee4c4cd0;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: blinker 2s linear infinite;
    border-radius: 10px;
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}
.bouy2{
    position: fixed;
    /* bottom: 0px; */
    top: 60px;
    right: 5px;
    width: 300px;
    height: 40px;
    background-color: #ee4c4cd0;
    opacity: 0.6;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: blinker 2s linear infinite;
}
.check{
    position: fixed;
    /* bottom: 0px; */
    bottom: 40px;
    left: 5px;
    width: 450px;
    height: 20px;
    /* background-color: #ee4c4cd0; */
    opacity: 0.6;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
input{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: #ee4c4cd0;
}