<main>

    <div id="ol-map" class="map-container"></div>
    <img src="../../assets/one.png" *ngIf="online" alt="Floating Image 1" class="floating-image1"
        (click)="mapChange('OpenCycleMap')">
    <img src="../../assets/four.png" *ngIf="online" alt="Floating Image 2" class="floating-image2"
        (click)="mapChange('Transport')">
    <img src="../../assets/six.png" *ngIf="online" alt="Floating Image 3" class="floating-image3"
        (click)="mapChange('Landscape')">
    <img src="../../assets/five.png" *ngIf="online" alt="Floating Image 4" class="floating-image4"
        (click)="mapChange('Outdoors')">
    <img src="../../assets/two.png" *ngIf="online" alt="Floating Image 5" class="floating-image5"
        (click)="mapChange('TransportDark')">
    <img src="../../assets/thre.png" *ngIf="online" alt="Floating Image 6" class="floating-image6"
        (click)="mapChange('Spinal Map')">


    <div class="powered">
        <div class="image"></div>
        <span>Powered by Tridel Technologies Pvt, Ltd.,</span>
    </div>

    @if (buoy1range !== '') {
    <div class="bouy1">
        {{ buoy1range }}
    </div>
    }

    @if (buoy2range !== '') {
    <div class="bouy2">
        {{buoy2range}}
    </div>
    }

    <!-- <div class="check">
        <input type="checkbox" name="Show Trackpaths" (click)="togglePaths()">
        <p>Click to show Track Path</p>
    </div> -->
</main>